@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root {
  
  --primary: #00BFAD;
  --secondary: #18446C;
  --background: #111F3B;
  --text: #EEEEFF;
  --accent: #42C8F9;
  --primary-hover: #D9D9D9;
  --secondary-hover: #4A88C2;
  --background-hover: #2B3851;
  --text-hover: #6B6B78;
  --primary-gradient: linear-gradient(36deg, var(--primary), var(--secondary), var(--accent));
  
}

body {
  overflow-x: hidden;
}
.main {
  background-image: linear-gradient( var(--background), #1c5081);
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}

.subcon {
  margin-top:3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.title-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 5%;
}

.title {
  font-family:"Poppins";
  font-weight: 600;
  font-size: 48px;
  color: var(--text);
  margin-bottom: 0px;
  margin-top: 0px;
}

.subtext {
  font-family:"Poppins";
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient( var(--background), var(--secondary));
  gap: 3%;
  padding-right: 10%;
}

.header-text {
  font-family:"Poppins";
  font-weight: 400;
  font-size: 15px;
  color: var(--text);
  cursor: pointer;
}
.header-text:hover {
  color: var(--text-hover);
  font-weight: 300;
  transition: 0.3s;
}

.header-title {
  font-family: "Poppins";
  font-weight: 600;
  color: var(--text);
  margin-right: 50%;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.button-con {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.btn-primary {
  margin-top: 50px;
  font-family:"Poppins";
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
  background-color: var(--background);
  border-radius: 20px;
  border: 2px solid var(--primary);
  padding: 10px 30px;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: var(--primary);
  color: var(--background);
  box-shadow: 0 0 15px var(--primary);
  transition: 0.5s;
}

.btn-secondary {
  margin-top: 50px;
  font-family:"Poppins";
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
  background-color: var(--background);
  border-radius: 20px;
  border: 2px solid var(--secondary);
  padding: 10px 30px;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: var(--secondary);
  color: var(--background);
  box-shadow: 0 0 15px var(--secondary);
  transition: 0.5s;
}

.white-page-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  color: white;
  text-shadow:color-mix(in hsl shorter hue, color percentage, color percentage);
  margin-bottom: 0%;
  margin-top: 0%;
}

.coming-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coming-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  color: white;
  text-shadow:color-mix(in hsl shorter hue, color percentage, color percentage);
  margin-bottom: 0%;
  margin-top: 3%;
}

.page-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  background: linear-gradient(to right, #4A88C2, #00bcd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0%;
  margin-top: 0%;
}

.page-subtitle1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 25px;
  color: var(--text);
  margin-bottom: 0%;
}

.settings-con {
  height: 20vh;
  width: 120vh;
  gap: 3%;
  background-color: #2B3851;
  border-radius: 10px;
}

.settings-subcon {
  display: flex;
  flex-direction: row;
}

.settings {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-family:"Poppins";
  font-weight:400;
  margin-left: 5%;
  background-color: #0f4980;
  color: white;
  margin-top: 1%;
}

.mini-button {
  margin-top: 1%;
  font-family:"Poppins";
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
  background-color: var(--background);
  border-radius: 20px;
  border-color: var(--primary);
  width: 200px;
  height: 50px;
  margin-left: 15%;
}

.settings-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: var(--text);
  margin-left: 5%;
}

.table {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table-head {
  vertical-align: middle;
  display:table-header-group;
}

.table-element {
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-family: "Poppins";
  font-weight: 500;
  color: var(--text);
}

.table-head-element {
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #ddd;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--text);
}

.table-input {
  background-color: transparent;
  width: 50%;
  height: 50%;
  border: none;
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  color: var(--text);
  font-size: 15px;
}

.aristo-con {
  height: auto;
  width: 180vh;
  margin-top: 20px;
  gap: 3%;
  background-color: var(--background);
  border-radius: 10px;
  padding: 10px;
}

.cipher-text {
  font-family: "Poppins";
  font-weight: 600;
  color: var(--text);
}

.sidebar {
  margin-top: 2%;
  align-self: flex-start;
  flex-direction: column;
  background-color: var(--background);
  border-radius: 10px;
  padding: 12px;
  margin-left: 3%;
  width: 50%;
}

.sidebar-con {
  justify-self: left;
}

.mp-button {
  margin-top: 5%;
  font-family:"Poppins";
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  color: #EEEEFF;
  border-radius: 10px;
  padding: 10px;
}

.event-card {
  height: 100%;
  width: 80%;
  background-color: var(--background);
  border-radius: 10px;
  border: 1px solid var(--primary);  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.event-sc2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.question-text {
  font-family:"Poppins";
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
}

.event-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 60%;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  color: white;
  background-color: var(--background);
  border: 2px solid var(--primary);
  margin-right: 5%;
}

.mb2-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mcq-button {
  margin-top: 1%;
  font-family:"Poppins";
  font-weight: 400;
  font-size: 20px;
  color: #EEEEFF;
  background-color: #111F3B;
  border-radius: 20px;
  border-color:aquamarine;
  width: 200px;
  height: 50px;
}

.answer-choice {
  width: 80%;
  height: 12%;
  border-radius: 10px;
}
